.ButtonDiv{
  display: inline-block;

  .ButtonClass {
    width: 150px;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
    color: rgba(0,0,0,.54);
    background-color: #f2f2f2;
    border: 0;
    height: 36px;
  }
}

