.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding-left: 30px;
  border-top: 1px solid #e4e4e4;

  .line {
    border: 1px solid #e4e4e4;
    width: 100%;
  }

  .HongKong {
    color: rgba(0,0,0,.54);
    margin-left: 2px;
  }
  ul {
    margin-left: 0;
  }
  ul li {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
    color: rgba(0,0,0,.54);
  }
}