.input {
  padding: 0;
  width: 600px;
  margin: 0 auto;

  .mdSearch {
    float: left;
    display: inline;
    margin-top: 14px;
    position: relative;
    left: 50px;
    width: 24px;
    height: 24px;
    color: #9AA0A6;
  }

  .mdKeyboard {
    float: right;
    display: inline;
    margin-top: -60px;
    position: relative;
    right: 35px;
    width: 24px;
    height: 24px;
    color: #9AA0A6;
  }

}