.language {
  margin: 10px auto;
  width: 300px;
  padding: 0 auto;

  ul {
    display: inline-block;
  }
  ul li {
    float: left;
    margin: 5px 8px 0 8px;
  }

  a{
    color: blue;
    text-decoration: none;
  }
}